/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/*Media Queries*/

@media only screen and (min-width: 993px) and (max-width: 1440px){
	.headline {
		font-size: 42px !important;
	}
	.svg-btn{
	width: 60px !important;
	height: auto;
	}
	.container{
		margin-top: 50px;
	}
	
}

@media only screen and (min-width: 1440px){
	.headline {
		font-size: 48px !important;
	}
	.svg-btn{
	width: 80px !important;
	height: auto;
	}
	.container{
		margin-top: 50px;
	}
	.header-logo{
	height: 250px !important;
	width: auto;
}
}


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

nav.startup-blue{
	height: 120px;
}

.startup-blue{
	background: blue;
}

.startup-grey{
	background: #dfdfdf;
}

.header-logo{
	height: 200px;
	width: auto;
	margin: 0 auto;
	display: table;
}


.headline{
	font-family: Source Serif Pro;
	font-size: 5vw;
	color: #0000ff;
	text-decoration: none solid rgb(0, 0, 255);
}

.startup-btn{
	padding: 20px;
	border: none;
	border-radius: 50px;
	font-family: Source Code Pro;
	font-size: 16px;
	color: #ffffff;
	background-color: rgba(0,0,0,0);
	margin: 20px auto 0 auto;
	display: table;
}

.git-call{
	margin-top: 200px;
	font-family: Source Code Pro, sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #6f6f6f;
}

.git-call a{
	color: blue;
}
/* Embeded SVGs */


.svg-btn{
	width: 60px;
	height: auto;
	fill: #dfdfdf;
	transition: 0.5s;
}

.svg-btn:hover{
	fill: blue;
	transition: 0.5s;
}


/* Materialize Overwrite*/

button:focus{
	background-color: rgba(0,0,0,0);
}

.backdrop{
	background-color: blue;
	font-family: Souce Code Pro;
}

/*Typed.JS Cursor*/

.typed-cursor{
	opacity: 1;
	color: blue;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}