/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/*Media Queries*/

@media only screen and (min-width: 993px) and (max-width: 1440px){
	.headline {
		font-size: 36px !important;
	}
	.container{
		margin-top: 50px;
	}

}

@media only screen and (min-width: 1440px){
	.headline {
		font-size: 36px !important;
	}
	.container{
		margin-top: 50px;
	}
}

html {
  height: 100%;
  box-sizing: border-box;
}

body{
	position: relative;
	min-height: 100%;
	 padding-bottom: 6rem;
}


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

nav.startup-blue{
	height: 120px;
}

.startup-blue{
	background: blue;
}

.startup-grey{
	background: #dfdfdf;
}

.header-logo{
	height: 180px;
	width: auto;
	display: table;
}


.headline{
	font-family: Source Serif Pro;
	font-size: 5vw;
	color: #0000ff;
	text-decoration: none solid rgb(0, 0, 255);
}

.startup-btn{
	padding: 20px;
	border: none;
	border-radius: 50px;
	font-family: Source Code Pro;
	font-size: 16px;
	color: #ffffff;
	background-color: rgba(0,0,0,0);
	margin: 20px auto 0 auto;
	display: table;
}

.partners{
	margin-top: 30px;
	margin-bottom: 30px;
	display: block;
}

.title-section{
	color: blue;
	font-family: arial;
	font-weight: bold;
	font-size: 22px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.startup-img{
	max-height: 80px;
	width: auto;
	height: 100%;
	display: table;
	margin: 20px auto;
}

.git-call{
	margin-top: 200px;
	font-family: Source Code Pro, sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #6f6f6f;
}

.git-call a{
	color: blue;
}

#sebrae{
	max-width: 200px;
	height: auto;
}

footer{

	background-color: #dfdfdf;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}
/* Embeded SVGs */


.svg-btn{
	width: 30px;
	height: auto;
	fill: blue;
	transition: 0.5s;
}

.svg-btn:hover{
	fill: #006;
	transition: 0.5s;
}


/* Materialize Overwrite*/

button:focus{
	background-color: rgba(0,0,0,0);
}

.backdrop{
	background-color: blue;
	font-family: Souce Code Pro;
}

/*Typed.JS Cursor*/

.typed-cursor{
	opacity: 1;
	color: blue;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
